.page{
    padding-top: 7.575rem;
    width: 100%;

    @include tablet{
        padding-top: 4.575rem;
    }

    &__section{
        width: 100%;
    }


    &.big_padd{
        padding-top: 10.575rem;

        @include tablet_small{
            padding-top: 7.575rem;
        }
    }

    &.small_padd{
        padding-bottom: 0;
    }

    &.small{
        @include tablet{
            padding-bottom: rem(90);
        }

        @include tablet_small{
            padding-bottom: rem(60);
        }
    }

    &__title{
        font-style: normal;
        font-family: $font_second;
        font-size: rem(40);
        line-height: 135%;
        color: #323232;
        text-transform: uppercase;

        @include tablet{
            font-size: rem(32);
        }

        @include tablet_small{
            font-size: rem(22);
        }
    }
}