.planing{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;

    @include tablet_small{
        margin-top: rem(100);
        flex-wrap: wrap;
    }

    &__left{
        flex: 1;
        padding-left: 10.8%;
        margin-right: rem(90);

        @include tablet{
            padding-left: rem(15);
            margin-right: rem(30);
        }

        @include tablet_small{
            width: 100%;
            flex: unset;
            padding-left: rem(15);
            padding-right: rem(15);
            margin-bottom: rem(30);
        }
    }

    &__subtitle{
        font-weight: 500;
        font-size: rem(14);
        line-height: 150%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #868686;
        margin-bottom: rem(20);

        @include tablet{
            font-size: rem(12);
            margin-bottom: rem(16);
        }

        @include tablet_small{
            margin-bottom: rem(12);
        }
    }

    &__title{
        font-size: rem(40);
        font-family: $font_second;
        line-height: 135%;
        text-transform: uppercase;
        color: #323232;
        margin-bottom: rem(96);

        @include tablet{
            font-size: rem(30);
            margin-bottom: rem(70);
        }

        @include tablet_small{
            font-size: rem(26);
            margin-bottom: rem(30);
        }
    }

    &__list{
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;

        @include tablet_small{
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: flex-start;
        }

        &__text{
            display: none;

            @include tablet_small{
                display: block;
                font-size: rem(18);
                line-height: 170%;
                color: #323232;
                margin-right: rem(20);
            }
        }

        &__element{
            display: flex;
            width: 100%;
            align-items: center;
            align-content: center;
            justify-content: flex-start;
            transition: all .3s;
            padding-bottom: rem(20);
            font-size: rem(28);
            line-height: 135%;
            cursor: pointer;
            color: #323232;
            font-family: $font_third;
            border-bottom: 1px solid #3232322d;

            span{
                margin-left: 6px;
            }

            &:after{
                content: '';
                width: rem(16);
                height: 5px;
                display: block;
                margin-left: auto;
                background-position: center;
                background-repeat: no-repeat;
                background-size: center;
                background-image: url(/images/slider_arrow.svg);
                transform: rotate(180deg);
                transition: all .3s;
                opacity: 1;
            }

            &:not(:last-child){
                margin-bottom: rem(30);
            }

            &.active{
                color: #67A15F;

                &:after{
                    visibility: hidden;
                    opacity: 0;
                }
            }


            @include tablet{
                font-size: rem(20);
                padding-bottom: rem(12);

                &:after{
                    width: rem(12);
                    height: 3px;
                }
                
                &:not(:last-child){
                    margin-bottom: rem(24);
                }
            }

            @include tablet_small{
                width: rem(50);
                height: rem(50);
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                border-radius: 50%;
                border: 1px solid #67A15F;
                color: #67A15F;
                padding-bottom: 0;
                border-bottom: 1px solid #67A15F;

                &.active{
                    background-color: #67A15F;
                    color: white;
                }

                &:not(:last-child){
                    margin-bottom: 0;
                    margin-right: rem(5);
                }

                span{
                    display: none;
                }

                &:after{
                    content: none;
                }
            }
        }
    }

    &__right{
        width: 55.3%;
        flex-shrink: 0;
        padding-right: 20%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(/images/planing_bg.png);
        height: rem(950);
        display: flex;
        align-items: center;
        align-content: center;

        @include tablet{
            height: rem(700);
            padding-right: rem(15);
        }

        @include tablet_small{
            width: 100%;
            padding-left: rem(15);
            padding-right: rem(15);
            height: rem(500);
        }

        &__content{
            display: none;
            margin-left: rem(90);

            @include tablet{
                margin-left: rem(30);
            }

            @include tablet_small{
                width: 100%;
                max-width: rem(400);
                margin-left: auto;
                margin-right: auto;
            }

            &.active{
                display: block;
            }
        }

        &__all{
            margin-top: rem(40);
            cursor: pointer;
            padding: rem(32) rem(60);
            border-radius: rem(50);
            font-size: rem(14);
            line-height: 150%;
            width: fit-content;
            display: block;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #FFFFFF;
            background-color: #E89900;

            @include tablet{
                margin-top: rem(20);
                font-size: rem(12);
                padding: rem(22) rem(40);
            }

            @include tablet_small{
                width: 100%;
                font-size: rem(14);
                margin-top: rem(30);
            }
        }

        &__image{
            margin-bottom: rem(50);
            width: 100%;
            height: rem(390);
            background-position: left;
            background-repeat: no-repeat;
            background-size: contain;
            margin-bottom: rem(50);

            @include tablet{
                margin-bottom: rem(36);
                height: rem(300);
                margin-bottom: rem(40);
            }

            @include tablet_small{
                height: rem(230);
                margin-bottom: rem(30);
                background-position: center;
            }
        }

        &__element:first-child{
            margin-right: rem(60);

            @include tablet{
                margin-right: rem(30);
            }

            @include tablet_small{
                margin-right: rem(60);
            }
        }

        &__info{
            width: 100%;
            display: flex;
            align-items: flex-start;
            align-content: flex-start;
            justify-content: space-between;
        }

        &__name{
            font-weight: normal;
            font-size: rem(18);
            line-height: 150%;
            color: #FFFFFF;
            opacity: 0.7;

            @include tablet{
                font-size: rem(14);
            }

            @include tablet_small{
                font-family: $font_second;
                font-size: rem(16);
            }
        }

        &__value{
            font-family: $font_third;
            font-size: rem(36);
            line-height: 135%;
            color: #FFFFFF;

            @include tablet{
                font-size: rem(28);
            }

            @include tablet_small{
                font-size: rem(26);
            }
        }
    }
}