.video{
    width: 100%;
    height: rem(810);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet{
        height: rem(600);
    }

    @include tablet_small{
        height: rem(360);
    }
    
}